<%= form_with(model: [@school, batch]) do |form| %>
  <% if batch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :school, style: "display: block" %>
    <%= @school.name %>
    <%= form.hidden_field :school_id, value: @school.id %>
  </div>

  <div>
    <%= form.label :course, style: "display: block" %>
    <%= form.select :course_id, options_from_collection_for_select(@school.courses, :id, :name, batch.course_id), class: 'form-control' %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
